# Pandas II Lab

For this lab we'll be working with two datasets from 538 that are avilable at https://www.kaggle.com/fivethirtyeight/trump-score. For convenience, the datasets can be found in the data folder in this repo.

From Kaggle:

>  Context

> This is FiveThirtyEight's Congress Trump Score. As the website itself puts it, it's "an updating tally of how often every member of the House and the Senate votes with or against the president".

> Content

> There are two tables: cts and votes. The first one has summary information for every congressperson: their name, their state, their Trump Score, Trump's share of the votes in the election, etc. The second one has information about every vote each congressperson has cast: their vote, Trump's position on the issue, etc.

> The data was extracted using R. The code is available as a package on github.

> Acknowledgements

> The data is 100% collected and maintained by FiveThirtyEight. They are awesome.

## Read in both csv files using pandas. You should use the relative file path.

In [4]:
import pandas as pd

df_cts = pd.read_csv('../data/cts.csv')
df_votes = pd.read_csv('../data/votes.csv')

# Explore the data.

Check for any missing values, unusual records, etc using the functions you learned yesterday, i.e. describe

In [27]:
df_cts.head()

,name,chamber,party,state,district,trump_score,trump_margin,predicted_score,trump_plus_minus
0,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527
1,Dean Heller,Senate,R,NV,NaN,0.952,-0.024,0.503,0.449
2,Ron Johnson,Senate,R,WI,NaN,1.000,0.008,0.577,0.423
3,Marco Rubio,Senate,R,FL,NaN,1.000,0.012,0.587,0.413
4,Patrick J. Toomey,Senate,R,PA,NaN,0.976,0.007,0.576,0.400

In [28]:
df_cts.describe()

       trump_score  trump_margin  predicted_score  trump_plus_minus
count   531.000000    531.000000       531.000000        531.000000
mean      0.613382     -0.015644         0.611260          0.002068
std       0.399708      0.317079         0.350698          0.180326
min       0.030000     -0.889000         0.088000         -0.762000
25%       0.158500     -0.223500         0.209000         -0.042500
50%       0.927000      0.035000         0.728000          0.009000
75%       0.976000      0.214000         0.961500          0.049500
max       1.000000      0.630000         0.989000          0.704000

In [12]:
df_cts.isnull().sum()

name                  0
chamber               0
party                 0
state                 0
district            100
trump_score           0
trump_margin          0
predicted_score       0
trump_plus_minus      0
dtype: int64

In [29]:
df_cts.district.value_counts()

1     43
2     43
3     38
4     35
5     28
6     25
7     24
8     21
9     17
10    13
11    12
12    11
13    10
14     9
16     7
15     7
17     6
18     6
AL     6
26     4
24     4
25     4
22     4
27     4
23     4
21     4
20     4
19     4
30     2
31     2
28     2
36     2
33     2
35     2
29     2
32     2
51     1
49     1
38     1
52     1
50     1
37     1
48     1
44     1
46     1
47     1
53     1
42     1
40     1
41     1
45     1
34     1
43     1
39     1
Name: district, dtype: int64

In [41]:
df_cts[(df_cts.district.isnull()) & (df_cts.chamber != 'Senate')]

Empty DataFrame
Columns: [name, chamber, party, state, district, trump_score, trump_margin, predicted_score, trump_plus_minus]
Index: []

In [43]:
df_cts[df_cts.district == 'AL']

,name,chamber,party,state,district,trump_score,trump_margin,predicted_score,trump_plus_minus
274,Kevin Cramer,House,R,ND,AL,1.000,0.357,0.982,0.018
366,Kristi L. Noem,House,R,SD,AL,0.970,0.298,0.981,-0.011
371,Liz Cheney,House,R,WY,AL,0.970,0.463,0.981,-0.012
409,Don Young,House,R,AK,AL,0.909,0.147,0.937,-0.028
453,Peter Welch,House,D,VT,AL,0.121,-0.264,0.179,-0.057
503,Lisa Blunt Rochester,House,D,DE,AL,0.152,-0.114,0.379,-0.227

The district column in our df_cts data has some weird values that are hard to understand. There are a lot of NaN values for district, but when we filter for NaN values where the person is not a member of the Senate we they go away. So I see no issue there. There is also this 'AL' value which I don't totally understand. I'm assuming it stands for something like 'At Large'. It is likely a status of some sort, I'm assuming it is something low population states have. The other values appear okay on the surface.

In [38]:
df_votes.head()

,name,date,measure,trump_position,vote,agreement_likelihood,plus_minus
0,Cory Gardner,June 13,Opposing the sale of some arms to Saudi Arabia...,oppose,No,0.273,0.727
1,Cory Gardner,May 11,Nomination of Robert Lighthizer to be United S...,support,No,0.838,-0.838
2,Cory Gardner,May 10,Repeal of a rule requiring energy companies to...,support,Yes,0.226,0.774
3,Cory Gardner,May 4,The 2017 fiscal year appropriations bill (79-18),support,Yes,0.897,0.103
4,Cory Gardner,May 3,Repeal of a rule that allowed a new type of st...,support,Yes,0.266,0.734

In [40]:
df_votes.describe()

       agreement_likelihood    plus_minus
count          18253.000000  17908.000000
mean               0.612126      0.001856
std                0.402377      0.267802
min                0.000000     -0.999000
25%                0.136000     -0.007000
50%                0.817000      0.001000
75%                0.983000      0.067000
max                1.000000      1.000000

In [45]:
df_votes.isnull().sum()

name                      0
date                      0
measure                   0
trump_position            0
vote                      0
agreement_likelihood      0
plus_minus              345
dtype: int64

In [68]:
df_votes[(df_votes.plus_minus.isnull()) & ([d not in ['Not voting', 'Present'] for d in df_votes.vote])]

Empty DataFrame
Columns: [name, date, measure, trump_position, vote, agreement_likelihood, plus_minus]
Index: []

The plus_minus column in our vote data set has a lot of NaN data, but this appears to be related to the type of vote the representative took. 'Present' and 'Not voting' account for all NaNs

## What command generates a tuple with the number of rows and number of columns?

In [72]:
df_cts.shape
df_votes.shape

(18253, 7)

## How many rows are duplicated in each dataframe?

In [75]:
print(df_cts.duplicated().sum())
print(df_votes.duplicated().sum())

0
0

## Write a command that selects rows 20 - 40 in each csv
(hint: we didn't cover this in the Pandas I lecture, but the code is in the cheat sheet)

In [78]:
print(df_cts.iloc[20:41])
print(df_votes.iloc[20:40])

                  name chamber party state district  trump_score  \
20        Thad Cochran  Senate     R    MS      NaN        1.000
21     Roger F. Wicker  Senate     R    MS      NaN        1.000
22      Orrin G. Hatch  Senate     R    UT      NaN        1.000
23      Lindsey Graham  Senate     R    SC      NaN        0.952
24           Roy Blunt  Senate     R    MO      NaN        1.000
25      Lisa Murkowski  Senate     R    AK      NaN        0.951
26        Bill Cassidy  Senate     R    LA      NaN        1.000
27         Jerry Moran  Senate     R    KS      NaN        1.000
28     Mazie K. Hirono  Senate     D    HI      NaN        0.262
29        Brian Schatz  Senate     D    HI      NaN        0.262
30         Pat Roberts  Senate     R    KS      NaN        1.000
31        John Kennedy  Senate     R    LA      NaN        0.976
32        Steve Daines  Senate     R    MT      NaN        0.976
33            Mike Lee  Senate     R    UT      NaN        0.952
34  Benjamin L. Cardin  Senate     D    MD      NaN        0.262
35     Lamar Alexander  Senate     R    TN      NaN        1.000
36          Todd Young  Senate     R    IN      NaN        0.952
37        John Boozman  Senate     R    AR      NaN        1.000
38   Richard C. Shelby  Senate     R    AL      NaN        1.000
39     Mitch McConnell  Senate     R    KY      NaN        1.000
40    Patrick J. Leahy  Senate     D    VT      NaN        0.238

    trump_margin  predicted_score  trump_plus_minus
20         0.178            0.882             0.118
21         0.178            0.882             0.118
22         0.181            0.884             0.116
23         0.143            0.839             0.113
24         0.186            0.890             0.110
25         0.147            0.842             0.109
26         0.196            0.899             0.101
27         0.206            0.906             0.094
28        -0.322            0.168             0.094
29        -0.322            0.168             0.094
30         0.206            0.908             0.092
31         0.196            0.899             0.077
32         0.204            0.906             0.070
33         0.181            0.884             0.068
34        -0.264            0.198             0.064
35         0.260            0.942             0.058
36         0.192            0.895             0.057
37         0.269            0.949             0.051
38         0.277            0.952             0.048
39         0.298            0.960             0.040
40        -0.264            0.198             0.040
            name     date                                            measure  \
20  Cory Gardner  March 2  Nomination of Ben Carson to be secretary of ho...
21  Cory Gardner  March 1  Nomination of Ryan Zinke to be secretary of th...
22  Cory Gardner  Feb. 28  Nomination of Wilbur L. Ross Jr. to be secreta...
23  Cory Gardner  Feb. 17  Nomination of Scott Pruitt to be administrator...
24  Cory Gardner  Feb. 16  Nomination of Mick Mulvaney to be director of ...
25  Cory Gardner  Feb. 15  Repeal of a rule requiring the Social Security...
26  Cory Gardner  Feb. 14  Nomination of Linda E. McMahon to be administr...
27  Cory Gardner  Feb. 13  Nomination of David J. Shulkin to be secretary...
28  Cory Gardner  Feb. 13  Nomination of Steven T. Mnuchin to be secretar...
29  Cory Gardner  Feb. 10  Nomination of Tom Price to be secretary of hea...
30  Cory Gardner   Feb. 8  Nomination of Jeff Sessions to be attorney gen...
31  Cory Gardner   Feb. 7  Nomination of Betsy DeVos to be secretary of e...
32  Cory Gardner   Feb. 3  Repeal of a rule requiring energy companies to...
33  Cory Gardner   Feb. 2       Repeal of the stream protection rule (54-45)
34  Cory Gardner   Feb. 1  Nomination of Rex W. Tillerson to be secretary...
35  Cory Gardner  Jan. 31  Nomination of Elaine L. Chao to be secretary o...
36  Cory Gardner  Jan. 24  Nomination of Nikki R. Haley to be ambassador ...
37  Cory Gardner  Jan. 23  Nomination of Mike Pompeo to be director of th...
38  Cory Gardner  Jan. 20  Nomination of John F. Kelly to be secretary of...
39  Cory Gardner  Jan. 20  Nomination of James Mattis to be secretary of ...

   trump_position vote  agreement_likelihood  plus_minus
20        support  Yes                 0.266       0.734
21        support  Yes                 0.563       0.437
22        support  Yes                 0.640       0.360
23        support  Yes                 0.177       0.823
24        support  Yes                 0.254       0.746
25        support  Yes                 0.225       0.775
26        support  Yes                 0.797       0.203
27        support  Yes                 1.000       0.000
28        support  Yes                 0.247       0.753
29        support  Yes                 0.274       0.726
30        support  Yes                 0.247       0.753
31        support  Yes                 0.241       0.759
32        support  Yes                 0.270       0.730
33        support  Yes                 0.171       0.829
34        support  Yes                 0.275       0.725
35        support  Yes                 0.963       0.037
36        support  Yes                 0.958       0.042
37        support  Yes                 0.549       0.451
38        support  Yes                 0.889       0.111
39        support  Yes                 0.996       0.004

## Change the datatype of the trump_score column in cts to an 'object' type, then change it back to a 'float' type.

In [88]:
df_cts['trump_score'] = df_cts.trump_score.astype('object')
print(type(df_cts.trump_score[0]))
df_cts['trump_score'] = df_cts.trump_score.astype('float')
print(type(df_cts.trump_score[0]))

<type 'float'>
<type 'numpy.float64'>

## Pretend that the trump_plus_minus column in the cts dataframe didn't exist. Write code that creates an equivalent column using the other three numeric columns (trump_score, trump_margin, predicted_score). (You don't have to use _all_ three columns).

In [91]:
df_cts['trump_plus_minus_cal'] = df_cts.trump_score - df_cts.predicted_score 
df_cts.head()

,name,chamber,party,state,district,trump_score,trump_margin,predicted_score,trump_plus_minus,trump_plus_minus_cal
0,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527
1,Dean Heller,Senate,R,NV,NaN,0.952,-0.024,0.503,0.449,0.449
2,Ron Johnson,Senate,R,WI,NaN,1.000,0.008,0.577,0.423,0.423
3,Marco Rubio,Senate,R,FL,NaN,1.000,0.012,0.587,0.413,0.413
4,Patrick J. Toomey,Senate,R,PA,NaN,0.976,0.007,0.576,0.400,0.400

## Create a new dataframe that has all voters that voted yes. Create another one that has all the voters who voted no.

In [94]:
df_votes_y = df_votes[df_votes.vote == 'Yes']
df_votes_n = df_votes[df_votes.vote == 'No']

## Combine the two dataframes on a common index. Make sure you choose the correct merge method so that you don't lose any row data.

In [98]:
df_merged = pd.merge(df_cts,df_votes, how='outer', on='name')
df_merged.head()

,name,chamber,party,state,district,trump_score,trump_margin,predicted_score,trump_plus_minus,trump_plus_minus_cal,date,measure,trump_position,vote,agreement_likelihood,plus_minus
0,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,June 13,Opposing the sale of some arms to Saudi Arabia...,oppose,No,0.273,0.727
1,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 11,Nomination of Robert Lighthizer to be United S...,support,No,0.838,-0.838
2,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 10,Repeal of a rule requiring energy companies to...,support,Yes,0.226,0.774
3,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 4,The 2017 fiscal year appropriations bill (79-18),support,Yes,0.897,0.103
4,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 3,Repeal of a rule that allowed a new type of st...,support,Yes,0.266,0.734

## Use groupby statement on the combined dataframe to look at some summary statistics by member of congress.  Who has the highest agreement liklihood?  The lowest?  Use numpy to find the mean accross the whole legislature.

In [100]:
df_merged.groupby(by='chamber').describe()

        agreement_likelihood                                                \
                       count      mean       std  min    25%    50%    75%
chamber
House                14065.0  0.605965  0.414783  0.0  0.083  0.841  0.986
Senate                4188.0  0.632818  0.356846  0.0  0.321  0.779  0.970

             plus_minus           ...  trump_plus_minus_cal         \
         max      count      mean ...                   75%    max
chamber                           ...
House    1.0    13763.0  0.000564 ...                 0.042  0.704
Senate   1.0     4145.0  0.006147 ...                 0.110  0.527

        trump_score
              count      mean       std    min    25%    50%   75%  max
chamber
House       14069.0  0.606900  0.407006  0.030  0.152  0.933  0.97  1.0
Senate       4188.0  0.640206  0.362799  0.071  0.262  0.881  1.00  1.0

[2 rows x 56 columns]

## Create a function that will take the name of a member of congress as input and return a dataframe of all of their votes.

In [101]:
def congress_vote(name, df):
    return df[df.name == name]

In [104]:
congress_vote('Cory Gardner', df_merged).head()

,name,chamber,party,state,district,trump_score,trump_margin,predicted_score,trump_plus_minus,trump_plus_minus_cal,date,measure,trump_position,vote,agreement_likelihood,plus_minus
0,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,June 13,Opposing the sale of some arms to Saudi Arabia...,oppose,No,0.273,0.727
1,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 11,Nomination of Robert Lighthizer to be United S...,support,No,0.838,-0.838
2,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 10,Repeal of a rule requiring energy companies to...,support,Yes,0.226,0.774
3,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 4,The 2017 fiscal year appropriations bill (79-18),support,Yes,0.897,0.103
4,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 3,Repeal of a rule that allowed a new type of st...,support,Yes,0.266,0.734

## Bonus: Change the date column in the votes data to a datetime dtype.
Hint: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

In [147]:
# I have to reform that dates in order to get this to work correctly. All dates need to be of the same formatting.


pd.to_datetime(df_merged.date, format="%B %d", )

ValueError: time data 'June 13' does not match format '%B %d %y=2017' (match)

In [143]:
df_merged.date.unique()
# Let's replace Feb. with February and Jan. with January

df_merged.date = df_merged.date.str.replace('Feb.', 'February')
df_merged.date = df_merged.date.str.replace('Jan.', 'January')

In [153]:
# Now I have to add the year, I can't really think of a slick way of doing this outside of just tacking a string on the end
df_merged.date = df_merged.date + ' 2017'
# I keep accidentally double running this cell, so I'm just cleaning up the mess when if I do.
df_merged.date = df_merged.date.str.replace(' 2017 2017', ' 2017')
df_merged.head()

,name,chamber,party,state,district,trump_score,trump_margin,predicted_score,trump_plus_minus,trump_plus_minus_cal,date,measure,trump_position,vote,agreement_likelihood,plus_minus
0,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,June 13 2017,Opposing the sale of some arms to Saudi Arabia...,oppose,No,0.273,0.727
1,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 11 2017,Nomination of Robert Lighthizer to be United S...,support,No,0.838,-0.838
2,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 10 2017,Repeal of a rule requiring energy companies to...,support,Yes,0.226,0.774
3,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 4 2017,The 2017 fiscal year appropriations bill (79-18),support,Yes,0.897,0.103
4,Cory Gardner,Senate,R,CO,NaN,0.976,-0.049,0.449,0.527,0.527,May 3 2017,Repeal of a rule that allowed a new type of st...,support,Yes,0.266,0.734

In [156]:

df_merged.data = pd.to_datetime(df_merged.date, format="%B %d %Y", )